//order matters
include "inputs.kdl"
include "outputs.kdl"
include "binds.kdl"
include "rules.kdl"
//
// ========== Named Workspaces ==========
//
workspace "1_dev" {
    open-on-output "eDP-1"
}
workspace "2_web" {
    open-on-output "eDP-1"
}
// Music, chat, etc
workspace "3_u" {
    open-on-output "eDP-1"
}
// Scratch
workspace "Y_qrs" {
    open-on-output "eDP-1"
}
//
// ========== Animations ==========
//
animations {
    //FIXME(niri): go through available options
    // Whether to disable animations.
    //off
    // Slow down or speed up animations by this factor. Values below 1 speed animations up.
    slowdown 0.7
}
//
// ========== Overview screen ==========
//
overview {
    //FIXME(niri): go through available options
    // Color of the backdrop.
    // backdrop-color "#17171a"
    // Configuration of shadows around workspaces in the overview.
    workspace-shadow {
        softness 40
        spread 5
        offset x=0 y=0
        color "#74c7ec"
    }
}
//
// ========== Startup ==========
//
spawn-at-startup "uwsm finalize NIRI_SOCKET"
spawn-at-startup "firefox"
spawn-at-startup "spotify"
spawn-at-startup "ghostty -e zellij attach nix"
hotkey-overlay {
    skip-at-startup
}
//
// ========== Miscellaneous ==========
//
screenshot-path "~/images/screenshots/%Y-%m-%d-%H-%M-%S.png"
// Disable client-side decorations
// FIXME(niri): test this on or off
prefer-no-csd
// FIXME: revisit this on laptops, remove on desktop
switch-events {
    lid-close {
        spawn "notify-send" "The laptop lid is closed."
    }
    lid-open {
        spawn "notify-send" "The laptop lid is open."
    }
}
