//
// ========== Monitor actions ==========
//
Super+Ctrl+h hotkey-overlay-title="Focus monitor left" {
    focus-monitor-left
}
Super+Ctrl+j hotkey-overlay-title="Focus monitor down" {
    focus-monitor-down
}
Super+Ctrl+k hotkey-overlay-title="Focus monitor up" {
    focus-monitor-up
}
Super+Ctrl+l hotkey-overlay-title="Focus monitor right" {
    focus-monitor-right
}
Super+Ctrl+Shift+H hotkey-overlay-title="Move window to monitor left" {
    move-window-to-monitor-left
}
Super+Ctrl+Shift+J hotkey-overlay-title="Move window to monitor down" {
    move-window-to-monitor-down
}
Super+Ctrl+Shift+K hotkey-overlay-title="Move window to monitor up" {
    move-window-to-monitor-up
}
Super+Ctrl+Shift+L hotkey-overlay-title="Move window to monitor right" {
    move-window-to-monitor-right
}
