//
// ========== Layer Rules ==========
//
// Place the background within the backdrop.
layer-rule {
    match namespace="^noctalia-wallpaper*"
    place-within-backdrop true
}
layer-rule {
    //FIXME: confirm namespace for dmenu
    match namespace="drun"
    shadow {
        on
        spread 4
        // softness 8
        // offset x= y=
        // required with non-squared corners
        draw-behind-window true
        color "#FF9400"
    }
}
// ========== Screen capture & screen share blackout ==========
// see also layer rule of same name
layer-rule {
    match namespace="^org\\.keepassxc\\.KeePassXC$"
    match namespace="^Proton"
    block-out-from "screen-capture"
}
layer-rule {
    match namespace="^org\\.keepassxc\\.KeePassXC$"
    match namespace="Proton"
    block-out-from "screencast"
}
//
// ========== Layout Rules ==========
//
layout {
    background-color "transparent"
    always-center-single-column
    // inside & outside
    gaps 15
    default-column-width {
        proportion 0.66667
    }
    // Cycled though using `switch-preset-window-column` action
    preset-column-widths {
        proportion 0.25
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 0.75
        proportion 0.95
        proportion 1.0
    }
    // Cycled though using `switch-preset-window-height` action
    preset-window-heights {
        proportion 0.25
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 0.75
    }
    tab-indicator {
        // Set the gap between the tab indicator and the window in pixels.
        gap 0
        // Length of the indicator.
        length total-proportion=1.0
        // Whether to put the tab indicator "within" the column, rather than outside.
        // This will include it in column sizing and avoid overlaying adjacent columns.
        place-within-column
        // Position of the indicator.
        position "left"
        // Width of the tab indicator
        width 8
 // active-color "#FF9400"
        // inactive-color "#2D2D30"
    }
    struts {
        // Set a negative strut for the top and bottom to minimize wasted space.
        // Set a 1px wide strut on the sides to allow easy window switching with the mouse.
        left 0
        right 0
        top 0
        bottom 0
    }
}
//
// ========== Window Rules ==========
//
// ========== ALL windows ==========
window-rule {
    geometry-corner-radius 15 15 15 15
    clip-to-geometry true
}
// ========== Active windows ==========
window-rule {
    match is-active=true
    shadow {
        on
        softness 5
        spread 3
        offset x=0 y=0
        // Prevents light leakage through rounded corners (geometry-corner-radius)
        draw-behind-window true
        // Catppuccin Mauve
        color "#cba6f7"
    }
    focus-ring {
        off
    }
}
// ========== General transparency ==========
window-rule {
    match is-active=false
    opacity 0.85
}
// ========== Scratchpad Windows ==========
window-rule {
    match app-id=".*-scratchpad$"
    open-floating true
    // Center geometry on screen
    default-column-width {
        proportion 0.65
    }
    default-window-height {
        proportion 0.8
    }
    // Override global 'off' focus ring to give scratchpads different border
    focus-ring {
        on
        width 1
        // Catppuccin Green
        active-color "#a6e3a1"
        inactive-color "#fab387"
    }
    // Override active shadow color for scratchpads
    shadow {
        on
        softness 15
        spread 2
        offset x=0 y=0
        draw-behind-window true
        // Translucent Catppuccin Green
        color "#a6e3a166"
    }
    // Keep scratchpad slightly translucent as a reminder
    opacity 0.97
}
// ========== Workspace Assignments ==========
window-rule {
    match app-id="Neovide" title="^nix |"
 // open-on-workspace "1_dev"
}
window-rule {
    match app-id="signal"
 // open-on-workspace "2_u"
}
window-rule {
    match app-id="^[Ss]potify$"
 // open-on-workspace "2_u"
}
// ========== Tile on launch ==========
window-rule {
    match app-id="^(Proton VPN)$"
    open-floating false
}
// ========== Float on open ==========
window-rule {
    // applications
    match app-id="galculator$"
    // dialog windows
    match title="^(Open File)(.*)$"
    match title="^(Select a File)(.*)$"
    match title="^(Choose wallpaper)(.*)$"
    match title="^(Open Folder)(.*)$"
    match title="^(Save As)(.*)$"
    match title="^(Library)(.*)$"
    match title="^(Accounts)(.*)$"
    match title="^(Text Import)(.*)$"
    match title="^(File Operation Progress)(.*)$"
    //may need to swap order of title and app-id for this one
    match title="^()$" app-id="^([Ff]irefox)"
    // rules
    open-floating true
}
// ========== No Focus on open ==========
window-rule {
    match app-id="^([Ff]irefox)" title="^()$"
    open-focused false
}
// ========== Always opaque ==========
window-rule {
    // applications
    match title="^([Gg]imp)$"
    match title="^([Ff]lameshot)$"
    match title="^([Ii]nkscape)$"
    match title="^([Bb]lender)$"
    match title="^([Oo][Bb][Ss])$"
    match title="^([Ss]team)$"
    match title="^([Ss]team_app_*)$"
    match title="^([Vv]lc)$"
    match title="^(htop)(.*)$"
    match title="^(amdgpu_top)(.*)$"
    // remove transparency from video
    match title="^(Live video from*)(.*)$"
    match title="^(Netflix)(.*)$"
    match title="^(.*YouTube.*)$"
    match title="^(Picture-in-Picture)$"
    // rules
    opacity 1.0
}
// ========== Screen capture & screen share blackout ==========
// see also layer rule of same name
window-rule {
    match app-id="^org\\.keepassxc\\.KeePassXC$"
    match app-id="^Proton"
    block-out-from "screen-capture"
}
window-rule {
    match app-id="^org\\.keepassxc\\.KeePassXC$"
    match app-id="^Proton"
    match app-id="com.yubico.yubioath"
    block-out-from "screencast"
}
// ========== Open at full width ==========
// Open certain windows in their full size.
window-rule {
    match app-id="^([Gg]imp)$"
    match app-id="^([Bb]lender)$"
    match app-id="^([Ii]nkscape)$"
    match app-id="^([Oo][Bb][Ss])$"
    default-column-width {
        proportion 1.0
    }
}
// ========== Variable Refresh Rate ==========
// requires output to have `variable-refresh-rate on-demand=true`
window-rule {
    match app-id="^steam_app_.*$"
    match app-id="^([Vv]lc)$"
    variable-refresh-rate true
    open-fullscreen true
}
window-rule {
    match app-id="^signal$"
}
window-rule {
    match app-id="^[Ss]potify$"
}
// There is a weird glitchy window open/close loop if the history/lookup
// windows are auto-focused
// History window pops up on subtitle hover or explicit press
window-rule {
    match title="Yomipv History"
    open-floating true
    open-focused false
}
// Dictionary lookup for word
window-rule {
    match title="Yomipv Lookup"
    open-floating true
    open-focused false
}
window-rule {
    match app-id="^mpv$"
    variable-refresh-rate true
}
