//
// ========== Named Workspaces ==========
//
workspace "1_dev" {
    open-on-output "eDP-1"
}
workspace "2_web" {
    open-on-output "eDP-1"
}
// Music, chat, etc
workspace "3_u" {
    open-on-output "eDP-1"
}
// Scratch
workspace "Y_qrs" {
    open-on-output "eDP-1"
}
